*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background-color: rgb(155, 155, 155);
    overflow:hidden;
}
.widget{
    padding-top:2.5rem;
    width:clamp(600px,90%,900px);
    height:70%;
    background-color: rgb(48, 48, 48);
    border-radius: 1rem;
    overflow:hidden;
}
#search-button{
    background: #a4a4a4;
    height:2rem;
    width:2rem;
    mask-image:url('icons/right-arrow-svgrepo-com.svg');
    mask-size:2rem;
    -webkit-mask-image:url('icons/right-arrow-svgrepo-com.svg');
    -webkit-mask-size:2rem;
    flex:1 0 auto;
    
}
.search-field{
    display:flex;
    flex:3 3 auto;
}
#search{
    height:2rem;
    width:100%;
    border-radius:2rem;
    background:rgb(48,48,48);
    border:2px solid #a4a4a4;
    color:white;
    font-size:1.5rem;
    padding:1rem;
    flex:3 3 auto;
}
.top-panel{
    height:60%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:2rem;
    align-items: center;
    color:white;
}
#condition{
    position:relative;
    top:2rem;
    font-size:1.5rem;
}
#temp{
    font-size:7rem;
    height:7rem;
    position:relative;
    left:1rem;
}
#city{
    font-size:2rem;
}
#form{
    display:flex;
    gap:1rem;
    width:90%;
    justify-content: center;
    align-items: center;
    position:relative;
   
    
    
}
#form-label{
    display:flex;
    gap:1rem;
    
}
.search-options{
    position:absolute;
    z-index: 2;
    width:25rem;
    color: #a4a4a4;
    font-size:1.5rem;
    padding-top:2.5rem;
    
}
.location-option{
    width:100%;
    background-color:rgb(48,48,48);
    border:none;
    color:white;
    font-size:1.5rem;
    padding:1rem;
    
}
.bottom-panel{
    height:40%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.grid-frame{
    display:flex;
    overflow: scroll;
    height:100%;
    width:100%;
    align-items: center;
}
.hour-panel{
    flex:0 0 auto;
    width:clamp(40px,30%,150px);
    height:100%;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
    padding:1rem;
    box-shadow:inset 5px 5px 5px rgba(0, 0, 0, 0.535);

}
 p.temp{
    font-size:2rem;
}
.hour{
    color:white;
}
@media(max-width:500px){
    .widget{
        width:100vw;
        height:100vh;
    }
    body{
        padding-top:3rem;
        background-color: rgb(48,48,48);
        justify-content: space-evenly;
        align-items: center;
        height:100vh;
    }
    #temp{
        font-size:9rem;
    }
}